body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: #f7f7f7;
  }
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
  }
  
  h1 {
    margin: 0;
    padding: 0 20px;
  }
  
  nav {
    display: flex;
  }
  
  a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #444;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {
    width: 80%;
    margin: 20px 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  li {
    width: 45%;
    margin: 10px 0;
  }
  
footer {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 40px;
  color: white;
}
.imgmenu {
  position: absolute;
  top: 0px; right: 50%;
}

@keyframes vibrate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}
/*
#prueba img{
  width: 500px;
  animation-name: acelerate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes acelerate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
  from {
    left: -100%;
  }
  to {left: 100%;}
}*/

img:hover {
  animation: vibrate 0.5s;

  animation-iteration-count: infinite;
}